/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.app-wrapper,
.app-main,
.app-header,
.app-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.app-wrapper {
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.app-main {
  flex: 1 0 auto; /* 2 */
  flex-direction: row;
}
.app-content {
  flex-basis: 60%;
  order: 2;
  background-color: #FFFFFF;
  padding: 20px
}
.app-side-left {
  flex-basis: 20%;
  order: 1;
  background-color: #F7F7F7;
  padding: 20px
}
.app-side-right {
  flex-basis: 20%;
  order: 3;
  background-color: #F7F7F7;
  padding: 20px
}

.app-header,
.app-main,
.app-footer {
  width: 100%;
}

@media all and (max-width: 600px) {
  /* Too narrow to support three columns */
  .app-main { flex-flow: column; }
  .app-content, .app-side-left, .app-side-right {
    /* Return them to document order */
    order: 0; width: auto;
  }
}


header, footer {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
