

/**

    TASK RELATED CSS

*/
.tasknewform,
.taskslisttable {
  background-color: #E5E4E2;
}

.taskslisttablehead {
  color: #ffffff;
  background-color: #000000;

}

.tasklistrow {
  background-color: #F8F8FF;
}

.taskprivate {
  background-color: #BA55D3 !important;
}

.taskpublic {
  background-color: #E6E6FA !important;
}

.taskopen {
  background-color: #FFC300 !important;
}

.taskclosed {
  background-color: #DAF7A6 !important;
}

